body{
	margin: 0;
}

/*.images{
	width: 100%;
	display: inline-block;
	margin: 0;
}*/

img{
	box-sizing: border-box;
	padding: 5%;
	border: 5px solid blue;
	margin: 0;
	width: 50%; 
	/*not sure why they aren't side by side, but I wanted to turn it in with a 50% width!*/
	display: inline-block;
}

