html, body, header, footer{
    background-color: #efefef;
    font-family: Garamond;
    color: #262626;
    margin: 0;
    padding: 0;
}

html{
	height: 100%;
	width: 100%;
}

/*-----HEADER & NAVIGATION-----*/
header {
	background-color: #444444;
	color: white; 
}

.logo {
	text-align: right;
	padding: 2em 4em;
}

nav li {
	list-style-type: none;
	display: inline;
	padding: 10px 25px 10px 45px;
	margin: 0;
	font-size: 1.5em;
}

nav a{
	color: white;
	text-decoration: none;
}

.current-page{
	color: #efefef
	font-size: 1.5em;
	font-weight: bold;
}

.top-nav ul li a.current-page:before {
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.top-nav ul li a:hover, a:hover, .top-nav ul li a:focus, a:focus{
    color: #DDDDDA;
    font-weight: bold;
}
.top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
  	color: #DDDDDA;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}
/*implement menu toogle*/
.top-nav.toggle-open ul{
	display: block;
}


/*-----BODY-----*/
.homepage{
	margin: 5%;
}

.main-content{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
}

.block1{
	width: 100%;
	padding: 2%;
}

.block2{
	width: 100%;
	padding: 2%;
}

.block3, .block4{
	width: 100%;
	padding: 2%;
	position: relative;
}

.main-content img{
	width: 100%;
}

@media screen and (min-width: 480px){
	.block1{
		width: 52%;
		padding: 2%;
	}

	.block2{
		width: 36%;
		padding: 2%;
	}

	.block3, .block4{
	top: -45px;
	}
}

/*-----FORM-----*/

form {
	width: 100%;

}


